@model GutoriCorp.Models.BusinessViewModels.VehicleViewModel

<div class="content-heading bg-white">
    <div class="row">
        <div class="col-sm-9">
            <h4 class="m0 text-thin">Vehicle</h4>
            <small>Set up vehicle information</small>
        </div>
        <div class="col-sm-3 text-right hidden-xs">
            <button type="button" class="mt-sm btn btn-labeled btn-default ripple">All Vehicles<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
        </div>
    </div>
</div>

<div class="container container-lg">
    <form asp-action="Create" name="formCreateContract" novalidate="" class="form-validate">
        <div class="card">
            <div class="card-heading">
                <!-- START dropdown-->
                <div class="pull-right dropdown">
                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                    </ul>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-body pt0">
                <h5 class="mt0">Make Information</h5>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="date_issued" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.date_issued)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="owner_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.owner)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="tlc_plate" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.tlc_plate)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="document_num" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.document_num)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="type_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.type)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="make_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.make)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="model_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.model)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="year" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.year)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="body_hull_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.body_hull)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="color_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.color)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="fuel_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.fuel)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="wt_sts_lgth" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.wt_sts_lgth)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="seats" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.seats)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="cyl_prop" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.cyl_prop)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="vin_code" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.vin_code)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="is_new" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DisplayFor(model => model.is_new)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </form>
</div>